<% lbl ||= t("b.#{name}") %>

<%= content_tag :li, class: 'top-level' do %>
  <%= link_to "#nav-#{name}", class: 'top-level-anchor link-light', data: { bs_toggle: 'collapse' } do %>
    <%= fa_icon icon, class: 'fa-fw' %>
    <%= content_tag :span, lbl, class: 'text' %>
  <% end %>

  <%= content_tag :div, id: "nav-#{name}", class: 'collapse' do %>
    <h4><%= lbl %></h4>
    <%= yield %>
  <% end %>
<% end %>
