<% lbl ||= t("b.#{name}") %>
<% href ||= defined?(path) ? path : "#nav-#{name}" %>

<%= content_tag :li, class: 'top-level' do %>
  <%= link_to href, class: 'top-level-anchor link-light', data: { bs_toggle: (defined?(href) ? 'tooltip' : 'collapse') }, title: lbl do %>
    <%= fa_icon icon, class: 'fa-fw' %>
    <%= content_tag :span, lbl, class: 'text' %>
  <% end %>

  <% if defined?(path) %>
    <%= content_tag :div, id: path, class: 'collapse' do %>
      <h4><%= lbl %></h4>
      <%= yield %>
    <% end %>
  <% end %>
<% end %>
